.header a {
  cursor: pointer;
}

.email-confirmed {
  padding: 10rem 9% 2rem;
  height: calc(100vh - 82.64px);
  display: flex;
  justify-content: center;
}

.container-email {
  display: flex;
}

.container-box {
  background-color: var(--second-bg-color);

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  height: 25vh;
  padding: 25px;
  margin: auto;

  
  border-radius: 8px;
  -webkit-box-shadow: 0px 10px 30px -10px rgba(0, 0, 0, 1);
  -moz-box-shadow: 0px 10px 30px -10px rgba(0, 0, 0, 1);
  box-shadow: 0px 10px 30px -10px rgba(0, 0, 0, 1);
}

.container-box i {
  font-size: 7rem;
  color: var(--confirmed);
}

.container-box p {
  font-size: 2.5rem;
  text-align: center;
}

@media screen and (max-width: 420px) {
  .email-confirmed {
    height: calc(100vh - 143px);
  }
}