@media screen and (max-width: 1440px) {
  .training-box {
    min-height: 40rem;
  }

  .training-box p {
    font-size: 1.5rem;
  }

  .training-box .course-topics ul li {
    font-size: 1.4rem;
  }
}

@media screen and (max-width: 1200px) {
  html {
    font-size: 55%;
  }
}

@media screen and (max-width: 991px) {
  .header {
    padding: 2rem 3%;
  }

  section {
    padding: 10rem 3% 2rem;
  }

  .training {
    padding-bottom: 7rem;
  }

  .training-box {
    min-height: 43rem;
  }

  .fidelity {
    padding-bottom: 7rem;
  }

  .project {
    padding-bottom: 7rem;
  }

  .contact {
    min-height: auto;
  }

  .footer {
    padding: 2rem 3%;
  }
}

@media screen and (max-width: 768px) {
  #menu-icon {
    display: block;
  }

  .navbar {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    padding: 1rem 3%;
    background: var(--bg-color);
    border-top: .1rem solid rgba(0, 0, 0, .2);
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .2);
    display: none;
  }

  .navbar.active {
    display: block;
    transition: .4s ease;
  }

  .navbar a {
    display: block;
    font-size: 2rem;
    margin: 3rem 0;
  }

  .home {
    flex-direction: column;
  }

  .home-content h3 {
    font-size: 2.6rem;
  }

  .home-content h1 {
    font-size: 5rem;
  }

  .home-img img {
    width: 100%;
    margin-top: 4rem;
  }

  .about {
    flex-direction: column-reverse;
  }

  .about img {
    width: 70vw;
    margin-top: 4rem;
  }

  .training h2 {
    margin-bottom: 3rem;
  }

  .project h2 {
    margin-bottom: 3rem;
  }

  .project-container {
    grid-template-columns: repeat(2, 1fr);
  }

  .fidelity h2 {
    margin-bottom: 2.5rem;
  }

  .fidelity-container {
    padding: 0 8rem;
  }
}

@media screen and (max-width: 617px) {
  .project-container {
    grid-template-columns: 1fr;
  }

  .fidelity-container {
    padding: 0;
  }
}

@media screen and (max-width: 475px) {
  html {
    font-size: 50%;
  }

  .heading {
    font-size: 3.5rem;
  }

  .contact form .input-box input {
    width: 100%;
  }

  .footer {
    flex-direction: column-reverse;
  }

  .footer p {
    text-align: center;
    margin-top: 2rem;
  }

  .training-box img {
    width: 100%;
  }

  .contact-container {
    display: flex;
    flex-direction: column;
  }
}

@media screen and (max-width: 425px) {
  .fidelity-box a {
    width: 100%;
  }

  .fidelity-box a div .fidelity-text {
    font-size: 1.5rem;
    padding: .8rem 1.8rem;
  }

  .fidelity-box a div .fidelity-price {
    font-size: 2rem;
    padding: .8rem 1.8rem;
  }

  .fidelity-box a img {
    width: 50%;
  }
}

@media screen and (max-width: 365px) {
  .home-content h1 {
    font-size: 4rem;
  }

  .home-content p {
    width: 100%;
  }

  .home-img {
    width: 90vw;
  }

  .about-img img {
    width: 90vw;
  }
}